In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

In [11]:
data = pd.read_csv('./Advertising.csv')
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [12]:
X = data.drop(['Unnamed: 0', 'sales'], axis=1)

In [13]:
Y = data['sales'].values.reshape(-1, 1)

In [16]:
xtr, xte, ytr, yte = train_test_split(X, Y, random_state=1)
print(xtr.shape)
print(xte.shape)
print(ytr.shape)
print(yte.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [18]:
reg = LinearRegression()
reg.fit(xtr, ytr)
print('coeff or slope: ', reg.coef_)
print('intercept: ', reg.intercept_)
print('the linear model is; y = {:.3} + {:.3}*TV + {:.3}*radio + {:.3}*newspaper'.format(reg.intercept_[0], 
                                                                                        reg.coef_[0][0], 
                                                                                         reg.coef_[0][1],
                                                                                        reg.coef_[0][2]))

coeff or slope:  [[0.04656457 0.17915812 0.00345046]]
intercept:  [2.87696662]
the linear model is; y = 2.88 + 0.0466*TV + 0.179*radio + 0.00345*newspaper

In [19]:
ypred = reg.predict(xte)

In [20]:
def myFunc(tv,radio, newspaper):
    return 2.88 + 0.0466*tv + 0.179*radio + 0.00345*newspaper
predictedSales = myFunc(39.5, 41.1, 10.8)

In [22]:
mae = mean_absolute_error(yte, ypred)
print(mae)

1.0668917082595206

In [23]:
mse = mean_squared_error(yte, ypred)
print(mse)

1.9730456202283368